#registration-form{
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 3rem;
    display: flex;
  flex-direction: column;
}

#registration-form input{
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
}

.img-register{
    display: block;
  margin: 0 auto 30px auto;
  width: 200px;
}

.btn-register{
    width: 76%;
  padding: 10px;
  background-color: #02afff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.container-login-firts{
    width: 390px;
    border: 1px solid #ddd;
  margin-left: .3rem;
  margin-top: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
}